*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Opens Sans", sans-serif;
}

/*Organização do menu*/
header{
    display: flex;
    justify-content: space-around;
    width: 100vw;
    position: fixed;
    top: 0;
}
#nav-bar1{
    justify-content: flex-start;
}
#nav-bar2{
    padding-right: 85px;
}
.nav-bar{
    width: 100vh;  
    display: flex;
    align-items: center;
    justify-content: flex-end; 
}

.inner-width{
    display: flex;
    width: 100vw;
    padding: 0 10px;
}

.logo{
    padding-left: 50px ;
}

.logo img{
    height: 120px;
}

.navigation-menu{
    position: fixed;
    width: 100%;
    max-width: 400px;
    background: rgba(0, 0, 0, 0.5);
    top: 90px;
    right: 70px;
    display: none;
    padding: 20px 40px;
    box-sizing: border-box;
}

.navigation-menu a{
    display: block;
    margin: 10px 0;
    color: #ddd;
    text-transform: uppercase;
    font-size: 14px;
    padding: 12px 20px;
}

.navigation-menu a:hover{
    transition: 0.2s;
    background: #fff;
    color: #2f3640;
    transform: scale(1.1);
    text-decoration: none;
}

.navigation-menu i{
    margin-right: 8px;
    font-size: 16px;
}

.navigation-menu::before{
    content: "";
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #000;
    position: absolute;
    top: -10px;
    right: 10px;
}

.navigation-menu.active{
    display: block;
}

.menu-toggle-btn{
    color: #fff;
    font-size: 26px;
    cursor: pointer;
    top: 0;
}

.home{
    color: #ff22b2;
}

.products{
    color: #ffbf0e;
}

.login{
    color: #329cff;
}

.register{
    color: #4200c5;
}

.contact{
    color: #1adb34;
}

/*Organização do conteúdo da página principal - background dos produtos*/

.apresentacao-produtos{
    display: flex;
    height: 100vh;
    width: 99.14vw;
}
.background-desenho{
    background-origin: padding-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    width: 60vw;
    display: inline-block;
    position: relative;
}

.background-cor{
    display: inline-block;
    width: 40vw;
    height: 100vh;
    position: relative;
    box-shadow: -2px 0 30px black;
}

.produto-1{
    background-image: url("./Imagens/backgrounds/background-morango.png");
}

.info-produto-1{
    background-color: #C81919;
    right: 4px;
}

.produto-2{
    background-image: url("./Imagens/backgrounds/background-chocolate.png");
}

.info-produto-2{
    background-color: #471E0B;
    right: 4px;
}

.produto-3{
    background-image: url("./Imagens/backgrounds/background-banana.png");
}

.info-produto-3{
    background-color: #ffcf1f;
    right: 4px;
}

.img-produto{
    height: 70vh;
    width: 35vw;
    position: relative;
    top: 15%;
    left: 20%;
}
